@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "header.css";

:root {
    --primary-color: #00b8d4;
    --secondary-color: #6200ee;
    --tertiary-color: #b388ff;
    --text-color: #000000;
    --font-family: 'Roboto', sans-serif;
}

body {
    color: var(--text-color);
    font-family: var(--font-family);
    max-width: 800px;
    margin: 0 auto;
    padding: 3%;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-weight: 700;
}

p {
    color: var(--text-color);
    font-family: var(--font-family);
}

a {
    color: var(--secondary-color);
}

.tools-preview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}